@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap");
/*Обнуление стилей*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*==================================*/

.container {
   display: flex;
   flex-direction: column;
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
   background-color: #c0dbd9;
}

.header {
   background: #7faff6;
   height: 100px;
   padding: 30px;
   margin-bottom: 15px;
}

.header__pop-up {
   display: block;
   position: relative;
   cursor: pointer;
   background-color: #a5c7f9;
   width: 206px;
   height: 39px;
   border-radius: 5px;
   text-align: center;
   line-height: 38px;
   font-family: Roboto;
   font-size: 20px;
   color: #ffff;
   justify-content: center;
}

.header__pop-up::before {
   cursor: pointer;
   content: "Open pop-up button";
}

.pop-up {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   opacity: 0;
   width: 100%;
   height: 100%;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 53px;
}
.pop-up::before {
   content: "Pop-up";
   color: #000;
   position: relative;
   top: 45%;
   margin: 0 auto;
}
.pop-up:focus {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 400px;
   opacity: 100%;
   z-index: 1;
   background-color: #fff;
   transform: translate(-50%, -50%);
}

.pop-up__close {
   position: absolute;
   right: 15px;
   top: 15px;
   width: 43px;
   height: 39px;
   border-radius: 5px;
   background: #7faff6;
}
.pop-up__close span {
   position: relative;
   display: block;
   top: 50%;
   width: 23px;
   height: 2px;
   margin: 0 auto;
   background-color: #fff;
   transform: translate(0, -50%);
}


.pop-up__close span:nth-child(1) {
   transform: rotate(60deg);
}

.pop-up__close span:nth-child(2) {
   top: 45.3%;
   transform: rotate(-60deg);
}
.block1 {
   background-color: #b3f95a;
   display: grid;
   grid-template-columns: 33.33% 50.42% 13.67%;
   grid-template-rows: 1fr 1fr;
   column-gap: 1.29%;
   row-gap: 3%;
   margin-bottom: 15px;
}
.block1__block {
   font-family: Roboto;
   position: relative;
   background: #8ad191;
}
.block1__block_1 {
   padding-bottom: 50.8%;
}

.block1__block::before {
   position: absolute;
   left: 50%;
   top: 50%;
   font-family: Roboto;
   color: #fff;
   transform: translate(-50%, -50%);
   font-size: 53px;
}
.block1__block_1::before {
   content: "1";
}

.block1__block_2::before {
   content: "2";
}
.block1__block_3::before {
   content: "3";
}
.block1__block_4::before {
   content: "4";
}
.block1__block_5::before {
   content: "5";
}

.block1__block_4 {
   grid-column: span 2;
}
.block2 {
   padding: 30px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
}
.block2__block {
   background: #0d89b0;
   flex: 0 1 23%;
   padding-bottom: 17.93%;
}

.footer {
   background: #7faff7;
   height: 100px;
}
